{{define "title"}}
    Checkout
{{- end}}

{{define "body"}}


<div class="product-grid"></div>
<div class="demo-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">my cart</h2>
        </div>
        {{range $i, $t := .CartItems}}
        <div class="mdl-card__supporting-text">
              <h6>{{ $t.DisplayName }} - ${{printf "%.2f" $t.Cost}} </h6>
           </div>
        {{end }}

        <div class="mdl-card__actions mdl-card--border">
                <h6>Total: ${{printf "%.2f" .cart.TotalCost}}</h6>
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" onclick="httpGet('/checkout/u/{{$.me.ID}}'); checkoutSuccess()">
            Place Order
          </a>
        </div>
      </div>
    </div>
{{- end}}