{{define "title"}}
    Checkout
{{- end}}

{{define "body"}}


<div class="product-grid"></div>
<div class="demo-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">my cart</h2>
        </div>
        {{ if .CartItems }} 

        <div class="mdl-card__supporting-text">
                    {{range $i, $t := .CartItems}}
                              <span>{{ $t.DisplayName }} - ${{printf "%.2f" %t.Cost}} </span>
                              <span class="mdl-list__item-text-body">
                                {{ $t.Cost }}
                              </span>
                            </span>
                    </li>
                    {{end}}
            {{end }}
        </div>
        <div class="mdl-card__actions mdl-card--border">
                <h6>Total: ${{printf "%.2f" .cart.TotalCost}}</h6>
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Place Order
          </a>
        </div>
      </div>
    </div>
{{- end}}