{{define "title"}}spookystore{{end}}

{{define "body"}}
  

<div class="content-grid mdl-grid">
    {{range $i, $p := .products}}
    <div class="mdl-cell">
        <div class="demo-card-wide mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title">
              <h2 class="mdl-card__title-text">{{ $p.DisplayName}}</h2>
            </div>
            <div class="mdl-card__media" class="overflow">
                <img class="image-overflow" src="{{ $p.PictureURL }}" alt="{{ $p.DisplayName}}">
              </div>
            <div class="mdl-card__actions mdl-card--border">
              <p>{{ $p.Description }}</p>
              <p>${{printf "%.2f" $p.Cost}}</p>
            </div>
            <div class="mdl-card__menu">
            <i type="button" class="material-icons" onclick="location.href='/addproduct/{{ $.me.ID }}/{{ $p.ID }}'">add</i>     
            </div>
         </div> 
        </div>
    {{end}}

</div>
{{end}}