
<script>
window.onload = function() {
  updateTransactions();
};

 function updateTransactions() {
    var resp = httpGet("https://us-central1-spookystore-18.cloudfunctions.net/count-transaction");
    document.getElementById("transactions").innerHTML = resp; 
    console.log("updated transactions counter")
}
</script>
{{define "title"}}SpookyStore{{end}}

{{define "body"}}
<div class="product-grid">
    {{range $i, $p := .products}}
    <div class="mdl-card mdl-shadow--2dp demo-card-square">
            <div class="mdl-card__title mdl-card__accent mdl-card--expand" style=" background: url('{{$p.PictureURL}}') center / cover;">
                <h2 class="mdl-card__title-text">{{ $p.DisplayName }}</h2>
            </div>

            <div class="mdl-card__supporting-text">
                    <h6><b>${{printf "%.2f" $p.Cost}}</b></h6>
                    <span>{{ $p.Description }}</span>
                  <div>
                      {{ if $.me }}
                    <div class="mdl-textfield mdl-js-textfield float-left-child">
                        <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="q-{{ $p.ID }}">
                        <label class="mdl-textfield__label" for="q-{{ $p.ID }}">Quantity</label>
                        <span class="mdl-textfield__error">Not a #!</span>
                    </div>
                        <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored float-left-child" onclick="addToCart('{{$.me.ID}}', '{{ $p.ID }}')">
                                <i id="{{ $p.ID }}"  class="material-icons">
                                add
                              </i> 
                            </button>
          
                        </div>
                {{ end }}
                     </div>  
         </div>
    {{end}}
</div>
    <div class="product-grid"> 
        {{ if .numTransactions }}
     <p class="mdl-card__supporting-text">Thank you for visiting the Spooky Store! Since our founding in 2018, we have processed over <b>{{ .numTransactions }}</b> orders. 
       We are happy to serve all of your Autumn needs! Check back often for new products.
     </p>
     {{ end }}
    </div>
{{end}}