
<script>
window.onload = function() {
  updateTransactions();
};

 function updateTransactions() {
    var resp = httpGet("https://us-central1-spookystore-18.cloudfunctions.net/count-transaction");
    document.getElementById("transactions").innerHTML = resp; 
    console.log("updated transactions counter")
}
</script>
{{define "title"}}spookystore{{end}}

{{define "body"}}
<div class="product-grid">
    {{range $i, $p := .products}}
    <div class="mdl-card mdl-shadow--2dp demo-card-square">
            <div class="mdl-card__title mdl-card__accent mdl-card--expand" style=" background: url('{{$p.PictureURL}}') center / cover;">
            </div>

            <div class="mdl-card__supporting-text">
                    <p>{{ $p.Description }}</p>
                    <p>
                        ${{printf "%.2f" $p.Cost}} 
                        <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" onclick="httpGet('/addproduct/{{$.me.ID}}/{{ $p.ID }}'); markDone('{{ $p.ID }}')"><i id="{{ $p.ID }}"  class="material-icons">add</i> </button>
                    </p>
            </div>
         </div>
    {{end}}
</div>
    <div> 
      <h5>Thank you for visiting the Spooky Store!</h5>
     <h5># of transactions across all users: <strong id="transactions"></strong></h5>
    </div>
{{end}}