{{define "title"}}
    {{- .user.DisplayName}}'s Profile
{{- end}}

{{define "body"}}

<div class="product-grid"></div>
<div class="demo-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">{.user.DisplayName}}</b>'s Transaction History</h2>
        </div>

        <div class="mdl-card__supporting-text">
                {{range $i, $t := .Transactions}}
                <p>{{ $t.CompletedTime }} - ${{printf "%.2f" $t.TotalCost}}</[span]>
                    {{end}}

        </div>
      </div>
    </div>

{{- end}}